fastapi
uvicorn
gunicorn
python-multipart
langchain
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-huggingface
langchain-community
faiss-cpu
pypdf
beautifulsoup4
python-dotenv
python-docx
python-pptx
openpyxl
xlrd
odfpy
extract-msg
rapidocr-onnxruntime
imageio-ffmpeg
openai-whisper
